.portfolio{
    display: flex;
    justify-content: center;
    height: fit-content;
}

.masonary{
    margin: 20px auto;
    columns: 3;
    column-gap: 20px;
    
}

.port{
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.port img{
    border-radius: 10px;
    transition: transform .5s; /* Animation */
}

.port img:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


.filter{
    display: flex;
    justify-content: center;
}

.filter-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.filtertag{
    padding: 15px;
    
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
}


.active{
    background-color: #D74C4C;
    color: white;
}









@media screen and (min-width: 280px) and (max-width: 480px) {

    .heading {
        height: 100PX;
    }

    .masonary {
    margin: 20px auto;
    columns: 1;
    column-gap: 20px;
}

}







  