:root {
    --first-color: #D74C4C;
    --font-color-primary: #39393C;
    --font-color-secondary: #7288a2;
    --font-color-light: #ffffff;
}


.about-service{
    display: flex;
    justify-content: center;
}

.about-services{
    width: 50%;
    margin-right: 50px;
}

.about-services h1{
    color: var(--font-color-primary);
    font-size: 50px;
    margin-bottom: 20px;
}

.about-service P{
    color: var(--font-color-secondary);
}

.about-image{
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
}

.about-image2{
    width: 50%;
    margin-right: 50px;
    overflow: hidden;
    height: 500px;
    
}

.about-image2 img{
    max-width: 100%;
}

.about-points{
    width: 50%;
    margin-right: 50px;
}

.about-point{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h2{
    color: var(--font-color-primary);
    font-size: 40px;
    margin-bottom: 20px;
}

.about-points li{
    margin-bottom: 20px;
    color: #7288a2;
}

.service-contact{
    display: flex;
    justify-content: center;
}

.service-ccont{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    width: 1400px;
    background: url(/img/amanda-marie-LCJ9iOli-uE-unsplash.jpg);
    background-position: center;
    border-radius: 20px;
}


.service-ccont h2{
    color: #ffffff;
    font-size: 45px;
}


.service-ccont button{
    padding: 10px;
    font-size: 20px;
    background: transparent;
    border: 1px solid white;
    color: #ffffff;
}




.containerss {
    margin: 10px auto;
    padding: 4rem;
    width: 1200px;
  }
  
  .accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #03b5d2;
  }
  
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: #03b5d2;
  }
  
  .accordion button:hover::after,
  .accordion button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
  }
  
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }

  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  
  .accordion button[aria-expanded='true'] {
    color: #03b5d2;
  }
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
  }
  
  
  
  @media screen and (min-width: 280px) and (max-width: 480px) {
    .container {
      width: 90%;
    }
    .about-services {
      width: 100%;
      margin-right: 0;
      margin-bottom: 50px;

  }

  .about-image {
    width: 100%;
  }

  .service-contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-image2 {
    width: 100%;
  }

  .about-points{
    width: 100%;
  }

  .service-ccont{
    margin: 50px 20px;
  }

  .service-ccont h2 {
    text-align: center;
  }

  .about-image2 {
    margin-right: 0 ;
  }

  .about-points{
    margin-right: 0;
  }

  .containerss{
    padding: 0;
    width: 90%;
  }
  
}